P1/filippone-bell/introspect/Main.class
P2/filippone-bell/tests/out.txt
P2/filippone-bell/out.txt
*.class
P3/filippone-bell/out.txt
P3/filippone-bell/toYuml.vm.vm
P3/filippone-bell/tests/toYuml.vm.vm
*.swp
*.swo
P4/filippone-bell/output.txt
