#set($MARKER="//----")
${MARKER}${OutputFileName}
#foreach($class in $violetClassS)
  #set($fields="")
  #set($methods="")
  #if(${class.fields} != "")
    #set($fields="|${class.fields}")
  #end
  #if(${class.methods} != "")
    #set($methods="|${class.methods}")
  #end
  #set($yumlclass="[${class.name}${fields}${methods}]")
  #set($yumlclass=$yumlclass.replace("?",""))
  #set($yumlclass=$yumlclass.replace("[]","#"))
  #set($yumlclass=$yumlclass.replace(","," "))
${yumlclass}
#end 
#foreach($interface in $violetInterfaceS)
  #set($methods="")
  #if(${interface.methods} != "")
    #set($methods="|${interface.methods}")
  #end
  #set($yumlinterface="[Interface;${interface.name}${methods}]")
  #set($yumlinterface=$yumlinterface.replace("?",""))
  #set($yumlinterface=$yumlinterface.replace("[]","#"))
  #set($yumlinterface=$yumlinterface.replace(","," "))
${yumlinterface}
#end
#foreach($assoc in $violetAssociationS)
  #foreach($class in $violetClassS)
    #if(${class.id} == ${assoc.cid1})
      #set($box1=${class.name})
    #end
    #if(${class.id} == ${assoc.cid2})
      #set($box2=${class.name})
    #end
  #end
  #foreach($interface in $violetInterfaceS)
    #if(${interface.id} == ${assoc.cid1})
      #set($box1="Interface;${interface.name}")
    #end
    #if(${interface.id} == ${assoc.cid2})
      #set($box2="Interface;${interface.name}")
    #end
  #end
  #set($arrow1=${assoc.arrow1})
  #set($arrow2=${assoc.arrow2})
  #set($role1=${assoc.role1})
  #set($role2=${assoc.role2})
  #set($line="-")
  #if(${assoc.lineStyle}=="DOTTED")
    #set($line="-.-")
  #end
  #set($yumlassoc="[${box1}]${arrow1}${role1}${line}${role2}${arrow2}[${box2}]")
  #set($yumlassoc=$yumlassoc.replace("V","<"))
  #set($yumlassoc=$yumlassoc.replace("TRIANGLE","^"))
  #set($yumlassoc=$yumlassoc.replace("DIAMOND","<>"))
  #set($yumlassoc=$yumlassoc.replace("BLACK_DIAMOND","++"))
${yumlassoc}
#end
