#set($MARKER="//----")
${MARKER}${OutputFileName}

#foreach($class in $violetClassS)
  #set($fields="")
  #set($methods="")
  #if(${class.fields} != "")
    #set($fields="|${class.fields}")
  #end
  #if(${class.methods} != "")
    #set($methods="|${class.methods}")
  #end
[${class.name}${fields}${methods}]
#end 

#foreach($assoc in $violetAssociationS)
[${class1}][${class2}]
#end

